/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
  padding: 1em 0;
  text-align: center;
  border: 0px;
  position: relative;
  zoom: 1;
  width: 80%;
  float: left;
  background: rgba(255, 255, 255, 0.79);
  display: inline;
  
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url('../images/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 55%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0;}
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
  position: absolute;
  right: 25%;
  margin-left: 0px;
  bottom: -20%;
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 64px; height: 7px; display: block; background: #ff8800; background: #ff8800; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #fff; background: #fff; }
.flex-control-paging li a.flex-active { background: #fff; background: #fff; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
@media screen and (max-width: 1440px) {
	.flexslider {
	  padding: 1em 0;
	}
}
@media screen and (max-width: 1280px) {
	.flex-control-nav {
	  right: 21%;
	  bottom: -17%;
	}
}
@media screen and (max-width: 1024px) {
	.flexslider {
	  margin-top: 4em;
	}
	.flex-control-nav {
	  right: 11%;
	  bottom: -16%;
	}
}
@media screen and (max-width: 768px) {
	.flexslider {
	  margin-top: 4em;
	}
	.flexslider {
	  width:38%;
	}
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: -36px;}
  .flex-direction-nav .flex-next {opacity: 1; right: -36px;}
}
@media screen and (max-width: 640px) {
  .flex-direction-nav a {
	top: 57%;
   }
	.flexslider {
	  width: 40%;
	}
	.flex-control-nav {
	  right: 4%;
	  bottom: -25%;
	}
	.flexslider {
	  margin-top: 1em;
	}
}
@media screen and (max-width: 480px) {
section.slider {
	padding-top: 0%;
}
.flexslider {
	padding: 0px 0px;
	}
	.flexslider {
	    margin-top: 2em;
       margin-right: 2em;
	}
	.flexslider {
	  width: 55%;
	}
}
@media screen and (max-width: 320px) {
	section.slider {
		padding-top: 0%;
	}	
	.flex-direction-nav a {
		top: 63%;
	}
	.flexslider {
	  padding: 3px 0px;
	}
	.flexslider {
	  margin-right: 1em;
	}
	.flex-control-nav {
	  right: 15%;
	  bottom: -28%;
	}
	.flex-control-paging li a {
	  width: 27px !important;
	  height: 5px !important;
	}
	.flexslider {
	  width: 62%;
	}
	.flexslider {
	  margin-top: 3.5em;
	}
}