{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}


{% block content %}

<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-4 contact-left heading">
					<img src="{% static 'images/about.png' %}">
				</div>
				<div class="col-md-8 contact-right">
					<h2>About Us</h2><br/>
					<p align="justify">Web Applications Technology is widely used to Develop new applications and websites. Scrap Bidding War is an website for Scrap Market. Big industry faces the problem of scrap selling and get best price of scrap. This system makes scrap dealing very easy and faster. Scrap dealers and big industry uses this system.</p><br/>
					<p align="justify">Industry will upload its scrap items category wise and put weight and amount of scrap items. Scrap dealers can view the scrap details and do one time bidding for scrap using application. Dealers also may bidding for particular scrap they want. Once bidding is complete industry will select best buyer and send conformation mail to dealers who won the bidding. If industry will not receive any kind of response then deal is automatically transfer to second best bidder.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->

{% endblock %}