{% extends 'admin_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-7 contact-left heading">
					<h2>Verify Dealer</h2><br/>

				{% for message in messages %}


                	{% if message %}
                    	<script>
                        	alert('{{ message }}');
                    	</script>
					{% endif %}

				{% endfor %}

				</div>
				<div class="col-md-5 contact-right">


				</div>
					{% if users %}

						<table border='1' width='100%' class="table table-bordered">
								<tr>
									<th>USER ID</th>
									<th>NAME</th>
									<th>ADDRESS</th>
									<th>CITY</th>

									<th>MOBILE NO</th>
									<th>EMAIL ID</th>
									<th>IMAGE PROOF</th>
                                    <th>STATUS</th>
									<th>BLOCK/UNBLOCK</th>

								</tr>
						{% for user in users %}
						        <tr>
								<td>{{user.id}}</td>
								<td>{{user.name}}</td>
								<td>{{user.address}}</td>
								<td>{{user.city}}</td>
								<td>{{user.mobile_no}}</td>
								<td>{{user.email_id}}</td>
								<td><img src="{{user.license_img.url}}" style="width:150px; height:150px;" ></td>
                                {% if user.status == 0 %}
								    <td>USER UNBLOCK</td>
								{% elif user.status == 1 %}
								    <td>USER UNBLOCK</td>
                                    <td><a href='block_user/{{user.id}}'>BLOCK</a></td>
								{% elif user.status == 3 %}
									<td>USER BLOCK</td>
                                    <td><a href='unblock_user/{{user.id}}'>UNBLOCK</a></td>
                                {% elif user.status == 2 %}
                                    <td>NOT VERIFIED</td>
								{% endif %}


								</tr>
							{% endfor %}
							</table> <br/><br/><br/><br/>
					{% else %}
				<br/><br/><br/><br/><h3>No User Found</h3><br/><br/><br/><br/><br/><br/><br/><br/>
					{% endif %}

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->

{% endblock %}