{% extends 'admin_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-7 contact-left heading">
					<h2>New Uploaded Scrap</h2><br/>

				</div>
				<div class="col-md-5 contact-right">
 				{% for message in messages %}


                	{% if message %}
                    	<script>
                        	alert('{{ message }}');
                    	</script>
					{% endif %}

				{% endfor %}
				</div>
                    {% if Scraps %}

							<table border='1' width='100%' class="table table-bordered">
								<tr>
									<th>SCRAP ID</th>
									<th>SCRAP NAME</th>
									<th>DESCRIPTION</th>
									<th>CITY</th>

									<th>COMPANY NAME</th>

									<th>QUANTITY</th>
									<th>MINIMUM PRICE</th>
									<th>SCRAP DATE</th>
									<th>BIDING LAST DATE</th>
									<th>SCRAP IMAGE</th>
									<th>VERIFY</th>
									<th>NOT VERIFY</th>

								</tr>
                            {% for scrap in Scraps %}
                                <tr>
								<td>{{scrap.id}}</td>
								<td>{{scrap.scrap_name}}</td>
								<td>{{scrap.scrap_desc}}</td>
								<td>{{scrap.city}}</td>
								{% for comp in Comp %}
									{% if comp.id == scrap.c_regis_id %}
										<td>{{comp.name}}</td>
									{% endif %}
								{% endfor%}

								<td>{{scrap.qty }} {{scrap.uom}}</td>
								<td>{{scrap.minimum_price}}</td>
								<td>{{scrap.scrap_upload_date}}</td>
								<td>{{scrap.last_bid_date}}</td>
								<td><img src='{{scrap.scrap_img.url}}' width='150px' height='150px'/></td>

                                <td><a href="/scrap_detail/verifyscrap/{{scrap.id}}">VERIFY</a></td>
								<td><a href="/scrap_detail/notverifyscrap/{{scrap.id}}">NOT VERIFY</a></td>
								</tr>
                            {% endfor %}
							</table>
                    {% else %}
                <br/><br/><br/><br/><h3>No Scrap Found</h3><br/><br/><br/><br/><br/>
                    {% endif %}

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->

{% endblock %}