{% extends 'admin_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-7 contact-left heading">
					<h2>Complain Detail</h2><br/>

            	</div>
				<div class="col-md-5 contact-right">


				</div>
			{% if comp %}
                <table class="table table-bordered">
								<tr>
									<th>COMPLAIN ID</th>
									<th>COMPLAIN DATE</th>
                                    <th>NAME OF COMPLAINER</th>
									<th>COMPLAINER TYPE</th>
									<th>COMPLAIN AGAINST</th>
									<th>REASON</th>
									<th>STATUS</th>
                                    <th>UPDATE STATUS</th>
								</tr>
                            {% for cp in comp %}
							    <tr>
								<td>{{cp.id}}</td>
								<td>{{cp.complain_date}}</td>

                                {% for ur in user %}
                                    {% if ur.id == cp.complainer_regis_id %}
                                        <td>{{ur.name}}</td>
                                        <td>{{ur.user_type}}</td>
                                    {% endif %}
                                {% endfor %}
								<td>{{cp.complain_against_name}}</td>
								<td>{{cp.complain_reason}}</td>

								{% if cp.status == 0 %}
								    <td>Complain Registered</td>
								{% elif cp.status == 1 %}
								    <td>Complain Viewed</td>
								{% elif cp.status == 2 %}
									<td>Pending</td>
								{% elif cp.status == 3 %}
									<td>Action Taken</td>
								{% elif cp.status == 4 %}
									<td>Complain Solved</td>
								{% elif cp.status == 5 %}
									<td>Invalid Complain</td>
								{% endif %}
                                <td><a href='admin_update_comp_status/{{cp.id}}'>UPDATE</a></td>

								</tr>
                            {% endfor %}
							</table><br/><br/><br/><br/><br/><br/>
                        {% else %}
                <br/><br/><br/><br/><h2>No New Complain Registered</h2><br/><br/><br/><br/>
                        {% endif %}

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->
{% endblock %}