{% extends 'admin_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-7 contact-left heading">
					<h2>SCRAP WISE WINNER DETAIL REPORT</h2><br/>


                {% if message %}
                    <script>
                        alert('{{ message }}');
                    </script>
                    {% endif %}



				</div>
				<div class="col-md-5 contact-right">


				</div>
					 {% if Bid %}

                        <table class="table table-bordered">
								<tr>
									<th>BIDDING ID</th>
									<th>BIDDING DATE</th>
									<th>DEALER NAME</th>
									<th>DEALER CITY</th>
									<th>DEALER MOBILE NO</th>
									<th>BIDDING AMOUNT</th>
                                    <th>RESULT</th>
								</tr>
                        {% for bd in Bid %}
                            <tr>
								<td>{{bd.id}}</td>
								<td>{{bd.bid_date}}</td>

							{% for ur in user %}
									{% if ur.id == bd.d_regis_id %}
										<td>{{ur.name}}</td>
                                        <td>{{ur.city}}</td>
                                        <td>{{ur.mobile_no}}</td>
									{% endif %}
								{% endfor%}
								<td>{{bd.bid_amount}}</td>
                            {% for wr in winner %}
								{% if wr.bid_id == bd.id %}
                                	<td style="color:green;"><strong>WINNER</strong></td>
                                {% else %}
                                    <td style="color:red;"><strong>LOSER</strong></td>
								{% endif %}
							{% endfor%}
								</tr>
                        {% endfor %}
							</table><br/><br/><br/><br/><br/><br/><br/><br/>

                {% else %}
                <br/><br/><br/><br/><h2>No Bidding Found..</h2><br/><br/><br/><br/><br/><br/><br/><br/>
                {% endif %}

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->
{% endblock %}