{% extends 'admin_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-4 contact-left heading">
					<img src="{% static 'images/login.jpg' %}">
				</div>
				<div class="col-md-8 contact-right">
					<h2>UPDATE COMPLAIN STATUS</h2><br/>
					<form id="form1" name="form1" method="post">
                        {% csrf_token %}
					<input type="text" value="{{ id }}" name="txtcid"  readonly="readonly"/><br/>
					<br/><select name="selstatus">
							<option value="0">Complain Registered</option>
							<option value="1">Complain Viewed</option>
							<option value="2">Pending</option>
							<option value="3">Action Taken</option>
							<option value="4">Complain Solved</option>
							<option value="5">Invalid Complain</option>

						</select>
					<br/><br/>

						<div class="submit-btn">
							<form>
								<input type="submit" value="UPDATE STATUS" name="btnstat">
							</form>
						</div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->


{% endblock %}