{% load static %}
{% static "images" as baseUrl %}
<html>
<head>
<title>Scrap Bidding War</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fruit_Salad Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'><script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"> </script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"> </script>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

<!---- start-smoth-scrolling---->
</head>
<body>
	<!----start-header---->
	<div class="header" id="home">
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="{% static 'images/LOGO.jpg' %}" alt=""></a>
			</div>
			<div class="navigation">
			 <span class="menu"></span>
					<ul class="navig">
                    <li><a href="/accounts/verify_dealer">Verify Dealer</a><span> </span></li>
					<li><a href="/accounts/verify_company">Verify Company</a><span> </span></li>
					<li><a href="/scrap_detail/admin_view_scrap">Verify Scrap</a><span> </span></li>
					<li><a href="/complain/admin_view_complain">Complain</a><span> </span></li>
					<li><a href="/accounts/admin_block_user">Block</a><span> </span></li>

					<li><a class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a class="hvr-bounce-to-bottom" href="/reports_detail/admin_view_company_detail_report">Company Detail Report</a></li>
							<li><a class="hvr-bounce-to-bottom" href="/reports_detail/admin_view_dealer_detail_report">Dealer Wise Bidding Report</a></li>
							<li><a class="hvr-bounce-to-bottom" href="/reports_detail/admin_view_datewise_scrap_upload_report">Date Wise Scrap Upload Report</a></li>
							<li><a class="hvr-bounce-to-bottom" href="/reports_detail/admin_view_scrap_detail_report">Scrap Wise Winner Detail Report</a></li>
						</ul>
					</li>

					<li><a href="/accounts/logout">Logout</a><span> </span></li>
					</ul>


			</div>
				 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		</div>
	</div>
	<!----end-header---->

{% block content %}

{% endblock %}




<!--footer-->

			<div class="copy">
		              <p>© 2019 E-Scrap.com. All Rights Reserved | Design by <a href="#"> Mr.Satyam  | Mr. Monil Rana</a> </p>
		            </div>
	<!--/footer-->
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--footer-ends-->
</body>
</html>