{% extends 'admin_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
<h2>DATE WISE SCRAP UPLOADED REPORT</h2><br/>
				<div class="col-md-6 contact-right">
                    <div>
                            {% for message in messages %}
                                <h3>{{message}}</h3>
                            {% endfor %}
                        </div>

					<form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        Select From Date
					<input type="date" name="txtfdate" value="{{fdate}}" /><br/><br/>


				</div>

                <div class="col-md-6 contact-left heading">
					 Select To Date
					<input type="date" name="txttdate" value="{{tdate}}" /><br/><br/>
						<div class="submit-btn">
							<form>
								<input type="submit" value="VIEW REPORT" name="btnreport" >
							</form>
						</div>
                    </form>
				</div>
				<div class="clearfix"> </div>


                <div class="col-md-12">

                    {% if Scraps %}

							<table border='1' width='100%' class="table table-bordered">
								<tr>
									<th>SCRAP ID</th>
									<th>SCRAP NAME</th>
									<th>DESCRIPTION</th>
									<th>CITY</th>


									<th>UOM</th>
									<th>QUANTITY</th>

									<th>MINIMUM PRICE</th>
									<th>SCRAP DATE</th>
									<th>BIDING LAST DATE</th>
									<th>SCRAP IMAGE</th>
									<th>STATUS</th>

								</tr>
                            {% for scrap in Scraps %}
                                <tr>
								<td>{{scrap.id}}</td>
								<td>{{scrap.scrap_name}}</td>
								<td>{{scrap.scrap_desc}}</td>
								<td>{{scrap.city}}</td>


								<td>{{scrap.uom}}</td>
								<td>{{scrap.qty}}</td>
								<td>{{scrap.minimum_price}}</td>
								<td>{{scrap.scrap_upload_date}}</td>
								<td>{{scrap.last_bid_date}}</td>
								<td><img src='{{scrap.scrap_img.url}}' width='150px' height='150px'/></td>

                                {% if scrap.status == 0 %}
								    <td>Scrap Uploaded</td>
                                {% elif scrap.status == 1 %}
                                    <td>Verified <a href='/reports_detail/admin_view_scrapwise_bidding_report/{{scrap.id}}'>Click Here To View Bidding</a></td>
								{% elif scrap.status == 2 %}
                                    <td>Unverified </td>
                                {% else %}
								    <td>SOLD <a href='/reports_detail/admin_view_scrapwise_winner_report/{{scrap.id}}'>VIEW WINNER</a></td>
                                {% endif %}
								</tr>
                            {% endfor %}
							</table>
                    {% else %}
                <br/><br/><br/><br/><h3>No Scrap Found</h3><br/><br/><br/><br/><br/>
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
	<!----contact-end---->
{% endblock %}