{% extends 'company_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-4 contact-left heading">
					<img src="{% static 'images/upload1.png' %}" width="380px" height="300px">
				</div>
				<div class="col-md-8 contact-right">
                    <div>
                            {% for message in messages %}
                                <h3>{{message}}</h3>
                            {% endfor %}
                        </div>
					<h2>UPLOAD SCRAP</h2><br/>
					<form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
					<input type="text" name="txtname" value="" placeholder="Enter Scrap Name"/><br/><br/>
					<textarea name="txtdesc" placeholder="Enter Scrap Description"></textarea><br/><br/>
					<input type="text" name="txtcity" placeholder="Enter City" value="" /><br/><br/>



					<select name="seluom">
						<option value="0">--Select UOM--</option>
						<option value="KG">KG</option>
						<option value="TON">TON</option>
					</select>
						<br/><br/>

					<input type="text" name="txtqty" placeholder="Enter Scrap Quantity" /><br/><br/>
					<input type="text" name="txtmprice" placeholder="Enter Scrap Minimum Price" /><br/>
					<br/>
					<input type="file" id="txtimg" name="txtimg" /><br/><br/>
						<div class="submit-btn">
							<form>
								<input type="submit" value="SUBMIT" name="btnsubmit" >
							</form>
						</div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->
{% endblock %}