{% extends 'company_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}




<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-7 contact-left heading">
					<h2>View Scrap</h2><br/>
				</div>
				<div class="col-md-5 contact-right">


				</div>
                 {% if Scraps %}
				<table class="table table-bordered">
								<tr>
									<th>SCRAP ID</th>
									<th>SCRAP NAME</th>
									<th>DESCRIPTION</th>
									<th>CITY</th>


									<th>QUANTITY</th>
									<th>MINIMUM PRICE</th>
									<th>SCRAP DATE</th>
									<th>BIDDING LAST DATE</th>
									<th>SCRAP IMAGE</th>
									<th>VIEW BIDDING</th>

								</tr>
                       {% for sc in Scraps %}
							    <tr>
								<td>{{sc.id}}</td>
								<td>{{sc.scrap_name}}</td>
								<td>{{sc.scrap_desc}}</td>
								<td>{{sc.city}}</td>


								<td>{{sc.qty}} {{sc.uom}}</td>
								<td>{{sc.minimum_price}}</td>
								<td>{{sc.scrap_upload_date}}</td>
								<td>{{sc.last_bid_date}}</td>

								<td><img src='{{sc.scrap_img.url}}' width='150px' height='150px'/></td>
								<td><a href='/bid_detail/company_select_winner/{{sc.id}}'>VIEW BIDDING</a></td>

								</tr>
							{% endfor %}
							</table><br/><br/><br/><br/><br/><br/><br/>
                         {% else %}

				<br/><br/><br/><br/><h2>No Scrap Found..</h2><br/><br/><br/><br/><br/><br/><br/><br/>
                        {% endif %}



				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->

{% endblock %}