{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}


{% block content %}

<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">
{% for message in messages %}


                	{% if message %}
                    	<script>
                        	alert('{{ message }}');
                    	</script>
					{% endif %}

				{% endfor %}
			<div class="contact-bottom">
				<div class="col-md-5 contact-left heading">
					<img src="{% static 'images/cnt2.png' %}">
				</div>
				<div class="col-md-7 contact-right">
					<h2>FIND US</h2><br/>
					<div style="font-size:19px">
					<p>Scrap Bidding War.</p>
					<p>2nd Floor, Platinum Mall, <br/>Gunjan Char Rasta, <br/>Vapi:396195</p>
					<p>Gujarat - India</p><br/>
					<p>Tel No: (+91)-0260-2420840</p>
					<p>Fax No: (+91)-0260-2420420</p><br/>
					<p>Email Id: admin@sbw.com | hr@sbw.com</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->

{% endblock %}