{% extends 'dealer_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<script type="text/javascript">
	function validate()
	{
		var re = /^[a-z,A-Z ]+$/i;
		if(form1.txtname.value=="")
		{
			alert("Please Enter Complain Against Name.");
			form1.txtname.focus();
			return false;
		}
		else
		{
			if(!re.test(form1.txtname.value))
			{
				alert("Please Dont Used Digit or Special Symbols in Complain Against Name Field.");
				form1.txtname.focus();
				return false;
			}
		}

		if(form1.txtres.value=="")
		{
			alert("Please Enter Complain Reason.");
			form1.txtres.focus();
			return false;
		}


	}
</script>

<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-4 contact-left heading">
					<img src="{% static 'images/comp1.png' %}" width="380px" height="300px">
				</div>
				<div class="col-md-8 contact-right">
					<h2>Complain Form</h2><br/>
					<form id="form1" name="form1" method="post" >
                    {% csrf_token %}
					<input type="text" value="" name="txtname" value="" placeholder="Enter Name"/><br/><br/>
					<textarea name="txtres" placeholder="Enter Complain Reason"></textarea><br/><br/>
					<div class="submit-btn">
						<form>
							<input type="submit" value="SUBMIT" name="btncomp" onclick="return validate();">
						</form>
					</div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

{% endblock %}