{% extends 'dealer_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
<script type="text/javascript">
	function validate()
	{
		var a=form1.txtbamt.value;
		if(form1.txtbamt.value=="")
		{
			alert("Please Enter Bid Amount");
			form1.txtbamt.focus();
			return false;
		}
		else
		{
			for(i=0;i<=a.length-1;i++)
			{
				if(isNaN(a.charAt(i)))
				{
					alert("Dont Used Character in Bid Amount");
					form1.txtbamt.focus();
					return false;
					break;
				}
			}
		}
	}
</script>
<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
                	<center><h2>SCRAP DETAILS</h2><br/></center>
				 {% for message in messages %}
                               	{% if message %}
                    	            <script>
                        	        alert('{{ message }}');
                    	            </script>
					            {% endif %}
                            {% endfor %}
                {% if Scraps %}
                {% for scrap in Scraps %}
				<div class="col-md-4 contact-left heading">

					<img src="{{scrap.scrap_img.url}}" width="300px" height="250px">
				</div>
				<div class="col-md-8 contact-right">


					<form id="form1" name="form1" method="post">
						 {% csrf_token %}
                        Scrap Name: <Label>{{scrap.scrap_name}}</Label><br/><br/>
						Description: <Label>{{scrap.scrap_desc}}</Label><br/><br/>
						Company Name: <Label></Label><br/><br/>
						City: <Label>{{scrap.city}}</Label><br/><br/>
						Quantity: <Label>{{scrap.qty}} {{scrap.uom}}</Label><br/><br/>

						Minimum Price: <Label>Rs. {{scrap.minimum_price}} /-</Label><br/><br/>
						Last Date: <Label>{{scrap.last_bid_date}}</Label><br/><br/>

						 {% if Bid %}
						<h3>You Already Bid For This Scrap....</h3>

						{% else %}
						<input type="text" value="" name="txtbamt" placeholder="Enter Biding Amount" /><br/>
						<div class="submit-btn">
							<form>
								<input type="submit" value="SUBMIT" name="btnsubmit" onclick="return validate()">
							</form>
						</div>
						{% endif %}

					</form>
				</div>
				<div class="clearfix"> </div>
                {% endfor %}
                 {% endif %}
			</div>
		</div>
	</div>
	<!----contact-end---->


	<!--team-end-->



{% endblock %}