{% extends 'dealer_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}


<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-7 contact-left heading">
					<h2>Scrap Wise Bidding Detail</h2><br/>






				</div>
				<div class="col-md-5 contact-right">


				</div>
				{% if Bid %}

							<table class="table table-bordered">
								<tr>
                                    <th>SCRAP IMAGE</th>

									<th>SCRAP NAME</th>
									<th>CITY</th>

									<th>QUANTITY</th>
									<th>MINIMUM PRICE</th>
									<th>BIDDING LAST DATE</th>
									<th>BIDDING DATE</th>
									<th>BIDDING AMOUNT</th>



								</tr>
                     {% for bd in Bid %}
								<tr>
                                {% for sc in Scraps %}
								    {% if sc.id == bd.scrap_id %}
                                    <td><img src='{{sc.scrap_img.url}}' width='150px' height='150px'/></td>

                                    <td>{{sc.scrap_name}}</td>
								<td>{{sc.city}}</td>
								<td>{{sc.qty}} {{sc.uom}}</td>
								<td>{{sc.minimum_price}}</td>
								<td>{{sc.last_bid_date}}</td>

                                {% endif %}
								{% endfor%}

                                <td>{{bd.bid_date}}</td>
								<td>{{bd.bid_amount}}</td>


								</tr>
                     {% endfor %}
							</table><br/><br/><br/><br/>

                    {% else %}
                         <br/><br/><br/><br/><h2>No Bidding Found..</h2><br/><br/><br/><br/><br/><br/><br/>

                    {% endif %}


				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

{% endblock %}