{% extends 'dealer_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}


<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-7 contact-left heading">
					<h2>Scrap Winner Detail</h2><br/>






				</div>
				<div class="col-md-5 contact-right">


				</div>
				<table border='1' width='100%'>
                      {% if Bid %}

								<tr>
									<th>SCRAP IMAGE</th>
									<th>SCRAP NAME</th>
									<th>SCRAP DESCRIPTION</th>
                                    <th>CITY</th>
									<th>QUANTITY</th>
									<th>MINIMUM PRICE</th>
									<th>BIDDING LAST DATE</th>
									<th>BIDDING DATE</th>
									<th>BIDDING AMOUNT</th>

									<th>RESULT</th>

								</tr>
                         {% for bd in Bid %}
							    <tr>
                                    {% for scrap in Scraps %}
                                        {% if bd.scrap_id == scrap.id %}
                                            <td><img src='{{scrap.scrap_img.url}}' width='150px' height='150px'/></td>
	    							        <td>{{scrap.scrap_name}}</td>
		    						        <td>{{scrap.scrap_desc}}</td>
			    					        <td>{{scrap.city}}</td>
				    				        <td>{{scrap.qty}}{{scrap.uom}}</td>
					    			        <td>{{scrap.minimum_price}}</td>
							    	        <td>{{scrap.last_bid_date}}</td>
                                        {% endif %}
                                    {% endfor %}
                                        <td>{{bd.bid_date}}</td>
                                        <td>{{bd.bid_amount}}</td>

                                    {% for wr in winner %}
                                        {% if bd.scrap_id == wr.scrap_id %}
								            {% if wr.bid_id == bd.id %}
                                                <td style="color:green;"><strong>WINNER</strong></td>
                                            {% else %}
                                                <td style="color:red;"><strong>LOSER</strong></td>
								            {% endif %}
                                        {% endif %}
							        {% endfor%}





								</tr>
                      {% endfor %}
							</table>
                {% else %}
                <br/><br/><br/><br/><h2>No Bidding Found..</h2><br/><br/><br/><br/><br/><br/><br/><br/>
                {% endif %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->
{% endblock %}