{% extends 'dealer_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<!----end-header---->
	<!--about-starts-->
	<div class="about">
		<div class="container">
			<div class="about-top heading">
				<h3>SCRAP LIST</h3>
				<div class="col-md-12">
				<div class="about-bottom">
                            {% for message in messages %}
                               	{% if message %}
                    	            <script>
                        	        alert('{{ message }}');
                    	            </script>
					            {% endif %}
                            {% endfor %}
                     {% if Scraps %}
                        {% for scrap in Scraps %}
					<div class="col-md-4 about-left">
						<a href="/scrap_detail/dealer_view_scrap_detail/{{scrap.id}}"><img src="{{scrap.scrap_img.url}}" width="300px" height="200px" alt="" /></a>
						<h5><a href="#">{{scrap.scrap_name}}</a></h5>
						<p><br/>
						Price: Rs.{{scrap.minimum_price}}/-
						</p>
					</div>
                        {% endfor %}
                     {% else %}
                <br/><br/><br/><br/><h3>No Scrap Found</h3><br/><br/><br/><br/><br/>
                    {% endif %}
					<div class="clearfix"></div>
				</div>
				</div>
				<div class="col-md-2">



				</div>
			</div>
		</div>
	</div>




{% endblock %}