{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}


{% block content %}

<!--banner-starts-->
	<div class="banner" id="home">

	</div>
	<!--banner-ends-->
	<!--FlexSlider-->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
	<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
			<!--End-slider-script-->
<div class="welcome">
	<div class="container">
		<h4>Welcome To Scrap Bidding War System</h4>
		<p></p>
	</div>
</div>
<div class="welcome-bottom">
	<div class="container">
		<div class="welcome-bottom-info">
				<div class="col-md-6 slit-slider">

			<section class="slider">
                <div class="flexslider">
                    <ul class="slides">
						<li>
							<div class="banner-top">
							<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img src="{% static 'images/paper1.jpg' %}" alt="" />
								<h3>Newspapers</h3>
								<p>Sales Your Newspapers Scrap At Better Cost.</p>
							</div>
						</div>
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img src="{% static 'images/chemical.jpg' %}" alt="" />
								<h3>Chemical</h3>
								<p>All Types of Chemical Scrap are Available and Sells.</p>
							</div>
						</div>

						<div class="clearfix"> </div>
					</div>
				</li>
				<li>
					<div class="banner-top">
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img src="{% static 'images/metal.jpg' %}" alt="" />
								<h3>Metals</h3>
								<p>Metals like Steels, Iron, etc Scrap Are Available for Sells.</p>
							</div>
						</div>
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img src="{% static 'images/rubber1.jpg' %}" alt="" />
								<h3>Rubber</h3>
								<p>Sells your Rubber scrap at better cost with SBW</p>
							</div>
						</div>

						<div class="clearfix"> </div>
					</div>
				</li>
				<li>
					<div class="banner-top">
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img src="{% static 'images/plastic.jpg' %}" alt="" />
								<h3>Plastic</h3>
								<p>Sells Your plastic at better cost through our SBW</p>
							</div>
						</div>
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img src="{% static 'images/electronic.jpg' %}" alt="" />
								<h3>Electronics</h3>
								<p>Electornic Scraps like TV, Fridge, AC etc. are Available</p>
							</div>
						</div>

						<div class="clearfix"> </div>
					</div>
				</li>
          </ul>
        </div>
      </section>
			<!-- ia-container -->

			</div>
				<div class="col-md-6 slit-slider-text">
					<h4>Scrap Bidding War</h4>
					<p align="justify">Web Applications Technology is widely used to Develop new Web Application. Scrap Bidding War is an website of Scrap Market. Big industry faces the problem of scrap selling and get best price of scrap. This system makes scrap dealing very easy and faster. Scrap dealers and big industry uses this system. Industry will upload its scrap items category wise and put weight and amount of scrap items. Scrap dealers can view the scrap details and do one time bidding for scrap using application. Dealers also may bidding for particular scrap they want. Once bidding is complete industry will select best buyer and send conformation mail to dealers who won the bidding. If industry will not receive any kind of response then deal is automatically transfer to second best bidder.</p>
				</div>
				<div class="clearfix"> </div>
				</div>
	</div>
</div>
	<!--offer-starts-->
	<div class="offer">
		<div class="container">
			<div class="offer-top heading">
				<h4>Scarp Category</h4>
			</div>
			<div class="offer-bottom">
				<div class="col-md-3 offer-left">
					<a href="#"><img src="{% static 'images/news1.jpg' %}" alt="" />
					<h6>Papers Scrap</h6></a>
					<h4><a href="single.html">Papers Scraps</a></h4>
					<p align="justify">All Types of Papers Scrap like newspapers, book, files etc can be Sell and Buy with Scrap Bidding War.</p>

				</div>
				<div class="col-md-3 offer-left">
					<a href="#"><img src="{% static 'images/scrap1.jpg' %}" alt="" width="255px" height="208px"/>
					<h6>Metal Scrap</h6></a>
					<h4><a href="single.html">Metal Scrap</a></h4>
					<p align="justify">All Types of Metal like Iron, Steel, Aluminium, Copper etc can be Sell and Buy with Scrap Bidding War.</p>

				</div>
				<div class="col-md-3 offer-left">
					<a href="#"><img src="{% static 'images/electo1.jpg' %}" alt="" width="255px" height="208px"/>
					<h6>Electronic Scrap</h6></a>
					<h4><a href="single.html">Electronic Scrap</a></h4>
					<p align="justify">All types of Electronic Scrap like Computers, T.V., A.C., Fridge, Washing Machines can be Sell and Buy</p>

				</div>
				<div class="col-md-3 offer-left">
					<a href="#"><img src="{% static 'images/rubber2.jpg' %}" alt="" width="255px" height="208px" />
					<h6>Rubber Scrap</h6></a>
					<h4><a href="single.html">Rubber Scrap</a></h4>
					<p align="justify">Rubber Scrap like Tyres are Avaliable for Selling and Buying with Scrap Bidding War. </p>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--offer-ends-->



{% endblock %}


