{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}


{% block content %}

<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-4 contact-left heading">
					<img src="{% static 'images/login.jpg' %}">
				</div>
				<div class="col-md-8 contact-right">
					<div>
                           {% for message in messages %}


                	{% if message %}
                    	<script>
                        	alert('{{ message }}');
                    	</script>
					{% endif %}

				{% endfor %}
                        </div>

                    <h2>Login</h2><br/>
					<form method="post" >
                        {% csrf_token %}
					<input type="text" value="" name="txtemail" placeholder="Enter Email Id" /><br/>
					<br/><input type="password" value="" name="txtpwd" placeholder="*******" /><br/><br/>

						<div class="submit-btn">
							<form>
								<input type="submit" value="LOGIN" name="btnlogin">
							</form>
						</div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->


{% endblock %}