{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}


{% block content %}
<script type="text/javascript">
	function show(value)
	{
		var v=value;
		if(v=="COMPANY")
		{
			$("#div1").text("Select Compnay License");
		}else if(v=="DEALER"){
			$("#div1").text("Select Dealer License");
		}
	}
	function validate()
	{
		var re = /^[a-z,A-Z ]+$/i;
		if(form1.txtname.value=="")
		{
			alert("Please Enter Your Name.");
			form1.txtname.focus();
			return false;
		}
		else
		{
			if(!re.test(form1.txtname.value))
			{
				alert("Please Dont Used Digit or Special Symbols in Name Field.");
				form1.txtname.focus();
				return false;
			}
		}

		if(form1.txtadd.value=="")
		{
			alert("Please Enter Your Address.");
			form1.txtadd.focus();
			return false;
		}

		var re = /^[a-z,A-Z ]+$/i;
		if(form1.txtcity.value=="")
		{
			alert("Please Enter Your City.");
			form1.txtcity.focus();
			return false;
		}
		else
		{
			if(!re.test(form1.txtcity.value))
			{
				alert("Please Dont Used Digit or Special Symbols in City Field.");
				form1.txtcity.focus();
				return false;
			}
		}


		var a=form1.txtmno.value;
		if(form1.txtmno.value=="")
		{
			alert("Please Enter Mobile No");
			form1.txtmno.focus();
			return false;
		}
		else if(a.length!=10)
		{
			alert("Please Enter Mobile Number 10 Digit Long");
			form1.txtmno.focus();
			return false;
		}
		else
		{
			for(i=0;i<=a.length-1;i++)
			{
				if(isNaN(a.charAt(i)))
				{
					alert("Dont Used Character in Mobile Number");
					form1.txtmno.focus();
					return false;
					break;
				}
			}
		}


		var re=/^[a-zA-Z0-9.-_]+@[a-zA-Z0-9.-_]+\.([a-zA-Z]{2,4})$/;
		if(form1.txtemail.value=="")
		{
			alert("Please Enter Email ID");
			form1.txtemail.focus();
			return false;
		}else{
			if(!re.test(form1.txtemail.value))
			{
				alert("Please Insert Valid Email ID");
				form1.txtemail.focus();
				return false;
			}
		}

		var b=form1.txtpwd.value;
		if(form1.txtpwd.value=="")
		{
			alert("Please Enter Password");
			form1.txtpwd.focus();
			return false;
		}
		else if(b.length<6)
		{
			alert("Please Enter More than 6 Characters");
			form1.txtpwd.focus();
			return false;
		}
		else if(b.length>10)
		{
			alert("Please Enter Less than 10 Characters");
			form1.txtpwd.focus();
			return false;
		}

		if(form1.seluser.value=="0")
		{
			alert("Please Select User Type");
			form1.seluser.focus();
			return false;
		}

		var filename=document.getElementById('txtfile').value;
		var extension=filename.substr(filename.lastIndexOf('.')+1).toLowerCase().trim();
		if(document.getElementById('txtfile').value=="")
		{
			alert("Please Select Image");
			return false;
		}else{
			if(extension=="jpg" || extension=="jpeg" || extension=="png")
			{
				return true;
			}else{
				//alert(extension);
				alert("Please Select Proper Image Format like jpeg jpg or png");
				return false;
			}
		}
	}
</script>

<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-4 contact-left heading">
					<img src="{% static 'images/registration.jpg' %}" width="380px" height="300px">
				</div>

				<div class="col-md-8 contact-right">
                    <div>
                            {% for message in messages %}
                                <h3>{{message}}</h3>
                            {% endfor %}
                        </div>
					<h2>Registration</h2><br/>
					<form method="post" enctype="multipart/form-data" name="form1">
                        {% csrf_token %}

					<input type="text" value="" name="txtname" value="" placeholder="Enter Name"/><br/><br/>
					<textarea name="txtadd" placeholder="Enter Address"></textarea><br/><br/>
					<input type="text" value="" name="txtcity" placeholder="Enter City" value="" /><br/><br/>

					<input type="text" value="" name="txtmno" placeholder="Enter Mobile No." value="" /><br/><br/>

					<input type="text" value="" name="txtemail" placeholder="Enter Email Id" value=""/><br/>
					<br/><input type="password" value="" name="txtpwd" placeholder="*******" value=""/><br/><br/>

					<select name="seluser" onchange="show(this.value)">
						<option value="0">--Select User Type--</option>
						<option value="COMPANY">Company</option>
						<option value="DEALER">Dealer</option>
					</select><br/><br/>
						<div id="div1">Select License Image</div>
					<input type="file" name="txtfile" id="txtfile" /><br/><br/>
						<div class="submit-btn">
							<form>
								<input type="submit" value="REGISTRATION" name="btnregis" onclick="return validate();">
							</form>
						</div>

					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->

{% endblock %}