{% extends 'admin_base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
<br/><br/>
	<!----end-header---->
	<!--contact-starts-->
	<div class="contact">
		<div class="container">

			<div class="contact-bottom">
				<div class="col-md-7 contact-left heading">
					<h2>VERIFY COMPANY</h2><br/>


                {% if message %}
                    <script>
                        alert('{{ message }}');
                    </script>
                    {% endif %}



				</div>
				<div class="col-md-5 contact-right">


				</div>
					{% if users %}

						<table border='1' width='100%' class="table table-bordered">
								<tr>
									<th>USER ID</th>
									<th>NAME</th>
									<th>ADDRESS</th>
									<th>CITY</th>

									<th>MOBILE NO</th>
									<th>EMAIL ID</th>
									<th>IMAGE PROOF</th>

									<th>VERIFY</th>
									<th>INVALID</th>
								</tr>
						{% for user in users %}
						        <tr>
								<td>{{user.id}}</td>
								<td>{{user.name}}</td>
								<td>{{user.address}}</td>
								<td>{{user.city}}</td>
								<td>{{user.mobile_no}}</td>
								<td>{{user.email_id}}</td>
								<td><img src="{{user.license_img.url}}" style="width:150px; height:150px;" ></td>
								<td><a href="/accounts/verifydealer/{{user.id}}">VERIFY</a></td>
								<td><a href="/accounts/notverifyd/{{user.id}}">NOT VERIFY</a></td>
								</tr>
							{% endfor %}
							</table> <br/><br/><br/><br/>
					{% else %}
				<br/><br/><br/><br/><h3>No New Company Registered</h3><br/><br/><br/><br/><br/><br/><br/><br/>
					{% endif %}

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!----contact-end---->
{% endblock %}